.about-container {
    //background-color: blue; // blue
    width: 100vw;
    //min-height: 80vh;
    //justify-content: center;
    align-items: center;
}
.about-container.light-mode {
    background-color: var(--bg-light);
}
.about-container.dark-mode {
    background-color: var(--bg-dark);
}

.about-content {
    //background-color: grey;
    margin-top: 10%;
    width: 90%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &.light-mode {
        color: var(--text-light);
    }
    &.dark-mode {
        color: var(--text-dark);
    }
}

.about-content h1 {
    //background-color: purple;
    //position: absolute; // avoid!
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 20px;
}

.about-content p {
    //background-color: greenyellow;
    max-width: 70%;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: 500;
}

.tab {
    display: inline-block;
    margin-left: 2em;
}

.about-content p .emph, .about-content p a {
    text-decoration: underline;
    border-radius: 20px;
    padding: 0.2rem;
    color: inherit;

    &.dark-mode:hover {
        background-color: var(--bg-text-grey);
    }

    &.light-mode:hover {
        background-color: var(--hover-light-2);
    }

    &:visited {
        color: inherit; // don't want purple or blue text -- less readable!
    }
}


@media (max-width: 1024px) {
    .about-content h1 {
        font-size: 2rem;
    }
    .about-content p {
        font-size: 1rem;
        border-radius: 0;
        max-width: 80%;
        //overflow:scroll;
    }
}

@media(min-width: 2560px) {
    .about-content h1 {
        font-size: 4rem;
    }

    .about-content p {
        font-size: 2rem;
        //border-radius: 0;
        max-width: 50%;
        //overflow:scroll;
    }
}