/* 
default html:
- font-size: 16px;
*/


body {
  margin: 0; /* why? */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'DM Sans', 'Montserrat', sans-serif;
  background: black; /* why? */
  /*overflow: hidden;*/ /* why? */ /* -- hides scrollbar */
  /*display: block;*/ /* why? */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
